@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.slick-track {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: stretch !important;
  padding-bottom: 2rem;
}

.slick-slide {
  display: grid !important;
  height: inherit !important;
}

.slick-arrow::before {
  font-size: 40px !important;
}

.slick-next {
  right: -25px !important;
}

.slick-prev {
  left: -45px !important;
}
.slick-dots {
  bottom: -55px !important;
}

.slick-dots li button:before {
  color: #eab308 !important;
  font-size: 12px !important;
}
